  body{
        background-color: #f7cf70;
  

  @keyframes subirYBajar {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px); 
  }
  100% {
    transform: translateY(0);
  }
  


.lacajita:hover {
  animation: subirYBajar 1.5s ease-in-out infinite;
  cursor: pointer; 
}


.lacajita {
  transition: transform 0.3s ease;

  width: 200px; 
  height: 200px;
  background-image: url('tu-imagen-aqui.jpg');
  background-size: cover;
}